* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    text-align: center;
    color: #E74272;
    margin: 20px 0;
}

.main-p {
    text-align: center;
    margin-bottom: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    width: calc(100%/3);
}

.col {
    float: left;
}

.col img {
    width: 25%;
}

.container-cards {
    margin-right: 20px;
    margin-bottom: 50px;
}

.cards {
    float: right;
    width: 75%;
    background-color: #0F0E17;
    color: #fff;
    padding: 19px 16px;
}

.cards h3 {
    font-size: 18px;
}

.cards p {
    font-size: 16px;
    line-height: 2;
}

.cards a {
    font-size: 16px;
    color: #2188D4;
    text-decoration: none;
}